body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 10px
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background-color: burlywood;
    padding: 10px;

    .logo img {
        height: 40px;
        aspect-ratio: 1/1;
    }

    .title {
        font-weight: bolder;
        font-size: x-large;
    }
}


.calculatorContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .calculator {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .calculationSpace {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        .rowKeysContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .rowKeysContainer .button,
        .button0 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .button {
            flex: 1
        }

        .button0 {
            flex: 3;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;

}